extends layout
   
block content
    form(action="/mongodb", method="post")
        div.form-group
            label(for="id") Buscar por ID:
            input#id.form-control(type="text", name="id", placeholder="ID del personaje")
        button.btn.btn-primary(type="submit") Buscar

    a.btn.btn-warning(href="/mongodb") Buscar todos
    #container
        each personaje in personajes
            .card(style='width: 13rem')
                img.card-img-top(src=personaje.image alt='...')
                .card-body
                    p
                        strong Name: 
                        =   personaje.name
                    p
                        strong Status: 
                        =    personaje.status
                    p
                        strong Species: 
                        =    personaje.species
